body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(237, 237, 238);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}